   <!-- começando footer, optamos por deixar o footer igual ao footer do site da mrv, então já esta tudo linkado -->
   <footer class="background-gradient-1 padding-left-3 padding-right-3 padding-bottom-6 padding-top-6" id="footer">

    <div class="position-relative display-flex align-items-center justify-content-center margin-top-6 margin-bottom-4 display-ml-none">
        <ul class="position-absolute top-0">
            <li class="listDesk contato">
                <div class="Body1-bold color-n_Xxclaro position-relative margin-bottom-3 titulo">Contato</div>
                <!-- criando linha abaixo do titulo para melhor separação -->
                <hr class="linha" />
                <!-- criando as listas para a dentro da lista clientes e as linkando com o site da mrv -->
                <ol>
                    <li class="margin-bottom-1">
                        <a class="Small-bold color-n_Xxclaro" href="https://www.mrv.com.br/institucional/pt/contato/fale-conosco" target="_blank" rel="noreferrer">Fale Conosco</a>
                    </li>
                    <li class="margin-bottom-1">
                        <a class="Small-bold color-n_Xxclaro" href="https://www.mrv.com.br/chat/" target="_blank" rel="noreferrer">Fale com um Corretor</a>
                    </li>
                    <li class="margin-bottom-1">
                        <a class="Small-bold color-n_Xxclaro" href="https://www.mrv.com.br/institucional/pt/pessoas/trabalhe-conosco" target="_blank" rel="noreferrer">Trabalhe Conosco</a>
                    </li>
                    <li class="margin-bottom-1">
                        <a class="Small-bold color-n_Xxclaro" href="https://www.mrv.com.br/quero-vender" target="_blank" rel="noreferrer">Quero ser corretor</a>
                    </li>
                    <li class="margin-bottom-1">
                        <a class="Small-bold color-n_Xxclaro" href="https://www.mrv.com.br/agente-de-sonhos" target="_blank" rel="noreferrer">Agente de Sonhos</a>
                    </li>
                    <li class="margin-bottom-1">
                        <a class="Small-bold color-n_Xxclaro" href="https://www.mrv.com.br/institucional/pt/contato/lojas-e-escritorios" target="_blank" rel="noreferrer">Lojas e Escritórios</a>
                    </li>
                    <li class="margin-bottom-1">
                        <a class="Small-bold color-n_Xxclaro" href="https://mrv.com.br/terrenos" target="_blank" rel="noreferrer">Compramos Terrenos</a>
                    </li>
                    <li class="margin-bottom-1">
                        <a class="Small-bold color-n_Xxclaro" href="https://www.mrv.com.br/imoveis/lojas" target="_blank" rel="noreferrer">Lojas</a>
                    </li>
                    <li class="margin-bottom-1">
                        <a class="Small-bold color-n_Xxclaro" href="https://www.mrv.com.br/institucional/pt/relacionamentos/fornecedores" target="_blank" rel="noreferrer">Fornecedores</a>
                    </li>
                    <li class="margin-bottom-1">
                        <a class="Small-bold color-n_Xxclaro" href="https://bpoacnbrprod.service-now.com/mrv_ex_colaborador?id=mrv_ex_colaborador" target="_blank" rel="noreferrer">Ex-colaborador MRV</a>
                    </li>
                    <li class="margin-bottom-1">
                        <a class="Small-bold color-n_Xxclaro" href="https://www.mrv.com.br/newsletter" target="_blank" rel="noreferrer">Newsletter</a>
                    </li>
                </ol>
            </li>
            <li class="listDesk imoveis-a-venda">
                <div class="Body1-bold color-n_Xxclaro position-relative margin-bottom-3 titulo">Imóveis à Venda</div>
                <!-- criando linha abaixo do titulo para melhor separação -->
                <hr class="linha" />
                <!-- criando as listas para a dentro da lista clientes e as linkando com o site da mrv -->
                <ol>
                    <li class="margin-bottom-1">
                        <a class="Small-bold color-n_Xxclaro" href="https://www.mrv.com.br/imoveis" target="_blank" rel="noreferrer">Buscar Imóveis MRV</a>
                    </li>
                    <li class="margin-bottom-1">
                        <a class="Small-bold color-n_Xxclaro" href="https://www.mrv.com.br/chat/" target="_blank" rel="noreferrer">Chat 24 horas</a>
                    </li>
                    <li class="margin-bottom-1">
                        <a class="Small-bold color-n_Xxclaro" href="https://www.mrv.com.br/imoveis/financiamento" target="_blank" rel="noreferrer">Financiamento</a>
                    </li>
                    <li class="margin-bottom-1">
                        <a class="Small-bold color-n_Xxclaro" href="https://meuprimeiroape.mrv.com.br" target="_blank" rel="noreferrer">Meu Primeiro Apê</a>
                    </li>
                    <li class="margin-bottom-1">
                        <a class="Small-bold color-n_Xxclaro" href="https://www.mrv.com.br/habiteseguro" target="_blank" rel="noreferrer">Habite Seguro</a>
                    </li>
                    <li class="margin-bottom-1">
                        <a class="Small-bold color-n_Xxclaro" href="https://www.mrv.com.br/casaverdeeamarela" target="_blank" rel="noreferrer">Simulador de subsídio</a>
                    </li>
                    <li class="margin-bottom-1">
                        <a class="Small-bold color-n_Xxclaro" href="https://www.mrv.com.br/fgts" target="_blank" rel="noreferrer">Como usar seu FGTS</a>
                    </li>
                    <li class="margin-bottom-1">
                        <a class="Small-bold color-n_Xxclaro" href="https://www.mrv.com.br/imoveis/brasileiros-no-exterior" target="_blank" rel="noreferrer">Brasileiros no Exterior</a>
                    </li>
                    <li class="margin-bottom-1">
                        <a class="Small-bold color-n_Xxclaro" href="https://www.mrv.com.br/prontos" target="_blank" rel="noreferrer">Imóveis prontos</a>
                    </li>
                    <li class="margin-bottom-1">
                        <a class="Small-bold color-n_Xxclaro" href="https://www.mrv.com.br/ofertas" target="_blank" rel="noreferrer">Ofertas</a>
                    </li>
                    <li class="margin-bottom-1">
                        <a class="Small-bold color-n_Xxclaro" href="https://www.mrv.com.br/saia-do-aluguel" target="_blank" rel="noreferrer">Saia do Aluguel</a>
                    </li>
                </ol>
            </li>
            <li class="listDesk institucional">
                <div class="Body1-bold color-n_Xxclaro position-relative margin-bottom-3 titulo">Institucional</div>
                <!-- criando linha abaixo do titulo para melhor separação -->
                <hr class="linha" />
                <!-- criando as listas para a dentro da lista clientes e as linkando com o site da mrv -->
                <ol>
                    <li class="margin-bottom-1">
                        <a class="Small-bold color-n_Xxclaro" href="https://mrv.com.br/institucional/pt" target="_blank" rel="noreferrer">Site Institucional</a>
                    </li>
                    <li class="margin-bottom-1">
                        <a class="Small-bold color-n_Xxclaro" href="https://www.mrv.com.br/porquemrv" target="_blank" rel="noreferrer">Por que a MRV?</a>
                    </li>
                    <li class="margin-bottom-1">
                        <a class="Small-bold color-n_Xxclaro" href="https://www.mrv.com.br/institucional/pt/a-mrv/mrv-em-numeros" target="_blank" rel="noreferrer">MRV em Números</a>
                    </li>
                    <li class="margin-bottom-1">
                        <a class="Small-bold color-n_Xxclaro" href="https://www.mrv.com.br/institucional/pt/relacionamentos/sala-de-imprensa" target="_blank" rel="noreferrer">Sala de Imprensa</a>
                    </li>
                    <li class="margin-bottom-1">
                        <a class="Small-bold color-n_Xxclaro" href="https://www.mrv.com.br/institucional/pt/a-mrv/programa-de-integridade" target="_blank" rel="noreferrer">Programa de Integridade</a>
                    </li>
                    <li class="margin-bottom-1">
                        <a class="Small-bold color-n_Xxclaro" href="https://www.mrv.com.br/institucional/pt/relacionamentos/portasabertas" target="_blank" rel="noreferrer">Portas Abertas MRV</a>
                    </li>
                    <li class="margin-bottom-1">
                        <a class="Small-bold color-n_Xxclaro" href="https://www.blogdamrv.com.br/" target="_blank" rel="noreferrer">Blog da MRV</a>
                    </li>
                    <li class="margin-bottom-1">
                        <a class="Small-bold color-n_Xxclaro" href="https://sonharemorar.com.br" target="_blank" rel="noreferrer">Sonhar e Morar</a>
                    </li>
                    <li class="margin-bottom-1">
                        <a class="Small-bold color-n_Xxclaro" href="https://habitability.com.br/" target="_blank" rel="noreferrer">Habitability</a>
                    </li>
                </ol>
            </li>

            <li class="listDesk inovacao">
                <div class="Body1-bold color-n_Xxclaro position-relative margin-bottom-3 titulo">Inovação</div>
                <!-- criando linha abaixo do titulo para melhor separação -->
                <hr class="linha" />
                <!-- criando as listas para a dentro da lista clientes e as linkando com o site da mrv -->
                <ol>
                    <li class="margin-bottom-1">
                        <a class="Small-bold color-n_Xxclaro" href="https://www.mrv.com.br/inovacao#startup" target="_blank" rel="noreferrer">Conexão com startup</a>
                    </li>
                    <li class="margin-bottom-1">
                        <a class="Small-bold color-n_Xxclaro" href="https://www.mrv.com.br/inovacao#desafios" target="_blank" rel="noreferrer">Desafios</a>
                    </li>
                    <li class="margin-bottom-1">
                        <a class="Small-bold color-n_Xxclaro" href="https://www.mrv.com.br/inovacao#parcerias" target="_blank" rel="noreferrer">Parcerias
                        </a>
                    </li>
                    <li class="margin-bottom-1">
                        <a class="Small-bold color-n_Xxclaro" href="https://www.mrv.com.br/inovacao#reconhecimento" target="_blank" rel="noreferrer">Reconhecimento</a>
                    </li>
                    <li class="margin-bottom-1">
                        <a class="Small-bold color-n_Xxclaro" href="https://www.mrv.com.br/inovacao#noticias" target="_blank" rel="noreferrer">Notícias</a>
                    </li>
                </ol>
            </li>
            <li class="listDesk investidores">
                <div class="Body1-bold color-n_Xxclaro position-relative margin-bottom-3 titulo">Investidores</div>
                <!-- criando linha abaixo do titulo para melhor separação -->
                <hr class="linha" />
                <!-- criando as listas para a dentro da lista clientes e as linkando com o site da mrv -->
                <ol>
                    <li class="margin-bottom-1">
                        <a class="Small-bold color-n_Xxclaro" href="https://ri.mrv.com.br/" target="_blank" rel="noreferrer">Portal de RI</a>
                    </li>
                    <li class="margin-bottom-1">
                        <a class="Small-bold color-n_Xxclaro" href="https://ri.mrv.com.br/publicacoes-cvm/fatos-relevantes/" target="_blank" rel="noreferrer">Fatos Relevantes</a>
                    </li>
                    <li class="margin-bottom-1">
                        <a class="Small-bold color-n_Xxclaro" href="https://ri.mrv.com.br/informacoes-financeiras/apresentacoes-e-eventos/" target="_blank" rel="noreferrer">Apresentações</a>
                    </li>
                    <li class="margin-bottom-1">
                        <a class="Small-bold color-n_Xxclaro" href="https://ri.mrv.com.br/governanca-corporativa/estatuto-e-politicas/" target="_blank" rel="noreferrer">Estatuto e Políticas</a>
                    </li>
                    <li class="margin-bottom-1">
                        <a class="Small-bold color-n_Xxclaro" href="https://ri.mrv.com.br/sobre-a-mrv/plataforma-habitacional/" target="_blank" rel="noreferrer">Estratégias e Produtos</a>
                    </li>
                    <li class="margin-bottom-1">
                        <a class="Small-bold color-n_Xxclaro" href="https://ri.mrv.com.br/governanca-corporativa/diretoria-conselhos-e-comites/" target="_blank" rel="noreferrer">Diretoria e Conselho</a>
                    </li>
                    <li class="margin-bottom-1">
                        <a class="Small-bold color-n_Xxclaro" href="https://ri.mrv.com.br/servicos-aos-investidores/agenda-de-ri/" target="_blank" rel="noreferrer">Agenda de RI</a>
                    </li>
                    <li class="margin-bottom-1">
                        <a class="Small-bold color-n_Xxclaro" href="https://ri.mrv.com.br/informacoes-financeiras/central-de-resultados/" target="_blank" rel="noreferrer">Central de Resultados</a>
                    </li>
                    <li class="margin-bottom-1">
                        <a class="Small-bold color-n_Xxclaro" href="https://ri.mrv.com.br/mercados-de-capitais/ratings/" target="_blank" rel="noreferrer">Ratings &amp; Covenants</a>
                    </li>
                </ol>
            </li>
            <li class="listDesk clientes">
                <div class="Body1-bold color-n_Xxclaro position-relative margin-bottom-3 titulo">Clientes</div>
                <!-- criando linha abaixo do titulo para melhor separação -->
                <hr class="linha" />
                <ol>
                    <!-- criando as listas para a dentro da lista clientes e as linkando com o site da mrv -->
                    <li class="margin-bottom-1">
                        <a class="Small-bold color-n_Xxclaro" href="https://meuape.mrv.com.br/" target="_blank" rel="noreferrer">Portal de Relacionamento</a>
                    </li>
                    <li class="margin-bottom-1">
                        <a class="Small-bold color-n_Xxclaro" href="https://meuape.mrv.com.br/" target="_blank" rel="noreferrer">Boleto</a>
                    </li>
                    <li class="margin-bottom-1">
                        <a class="Small-bold color-n_Xxclaro" href="https://meuape.mrv.com.br/" target="_blank" rel="noreferrer">Assistência Técnica</a>
                    </li>
                    <li class="margin-bottom-1">
                        <a class="Small-bold color-n_Xxclaro" href="https://www.mrv.com.br/institucional/pt/relacionamentos/negocia-mrv" target="_blank" rel="noreferrer">Negociar Minhas Parcelas</a>
                    </li>
                    <li class="margin-bottom-1">
                        <a class="Small-bold color-n_Xxclaro" href="https://www.mrv.com.br/institucional/pt/relacionamentos/indicacaopremiada" target="_blank" rel="noreferrer">Indicação Premiada</a>
                    </li>
                    <li class="margin-bottom-1">
                        <a class="Small-bold color-n_Xxclaro" href="https://mundodacasa.mrv.com.br/" target="_blank" rel="noreferrer">Mundo da Casa</a>
                    </li>
                    <li class="margin-bottom-1">
                        <a class="Small-bold color-n_Xxclaro" href="https://www.mrv.com.br/institucional/pt/produtos/acabamentos" target="_blank" rel="noreferrer">Acabamentos</a>
                    </li>
                    <li class="margin-bottom-1">
                        <a class="Small-bold color-n_Xxclaro" href="https://www.facebook.com/mrv.responde" target="_blank" rel="noreferrer">MRV Responde</a>
                    </li>
                    <li class="margin-bottom-1">
                        <a class="Small-bold color-n_Xxclaro" href="https://escoladesindicos.club.hotmart.com/login" target="_blank" rel="noreferrer">Escola de Síndicos</a>
                    </li>
                </ol>
            </li>
        </ul>
    </div>
</footer>
<!-- terminando footer da mrv -->

<div class="logo-rodape">
<a href="https://mrveco.com.br/" title="MRV &amp; CO"><img src="https://www.mrv.com.br/toporodapecore/build/img/mrveco.png" alt="Logo | MRV" class="display-block margin-auto height-3 margin-bottom-md-1"></a>
</div>

<div class="rodape-info">
<p class="corpo-rodape">
MRV todos os direitos reservados |
<a href="https://www.mrv.com.br/institucional/pt/politica-de-privacidade" title="Política de privacidade" target="_blank" rel="noreferrer" class="color-n_regular">Política de privacidade</a> |
<a href="https://www.mrv.com.br/institucional/pt/relacionamentos/codigo-de-conduta" title="Código de conduta" target="_blank" rel="noreferrer" class="color-n_regular">Código de conduta</a> |
<a href="https://mrv.com.br/institucional/pt/a-mrv/nova-marca" title="Nova Marca" target="_blank" rel="noreferrer" class="color-n_regular">Nova marca</a> |
<a href="https://www.mrv.com.br/mapa-do-site" title="Mapa do site" target="_blank" rel="noreferrer" class="color-n_regular">Mapa do site</a>
</p>
</div>

<div class="nosso-git">
<a href="https://github.com/2022M2T6-Inteli/Projeto3" title="Pense Open" class="display-flex text-align-center justify-content-center align-items-center">
<span class="text-align-center color-n_regular">Desenvolvido por Inteli - Grupo BFS</span>
</a>
</div>