<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand url" href="/feed/mrv"><img class="logo" src="../public/images/mrvlogo.png" ></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <div class="nomesnavbar">
                <ul id="nomesnavbar" class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                    <li class="nav-item">
                    <a class="nav-link active url" aria-current="page" href="/feed/mrv">Obras Disponiveis</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link url" href="/mrv/lista_empreiteiras">Listas de empreiteiros</a>
                    </li>
                </ul>
            </div>
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <li class="nav-item dropdown">
                    <a  id="imgnotificacoes" class="nav-link url" href="/servico/criarServico" >Criar Serviço</a>
                </li>
                <li class="nav-item dropdown">
                    <a href="#">
                        <img class="elipse" src="../public/images/elipse.png">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>