
@font-face {
    font-family: 'verdanaFont' ;
    src: url(verdana.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;
}
body{
    font-family: 'verdanaFont' !important;
}
/* começando o footer */
/* colocando o tamanho do footer, a sua cor de fundo, e alinhando onde seus itens ficarão melhor posicionado, 
com o padding, justify content e display sendo flex */
footer{
    background-image: linear-gradient(45deg, #006B3F, #079D56);
    margin-top: 10vh;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    padding: 70px;
}
.position-absolute{
    position: static !important;
}
/* linha abaixo dos titulos, criando a altura, a largura e a cor da linha e o melhor posicionamento dela abaixo do titulo */
hr{
    width: 40%;
    height: 6px;
    background-color: white;
    border-radius: 4px;
    margin-bottom: 20px;
}

footer .sustentabilidade {
    position: absolute;
    top: 42%;
    left: 48.5%;
    width: 15% !important
}

/* alinhando as colunas ex: contato e imavbeis a venda e colocando as fonts com padrão de 20px dentro do seu respectivo tamanho */
footer div{
    text-align: left;
    font-size: 20px;
    padding: 5px;
    
}

/* ajustando as listas e as alinhando para a esquerda, colocando o tamanho da fonte e a cor como branca */
li{
    text-align: left;
    
    color: #fff;
    list-style: none;
    font-weight: bold;
    font-size: 15px;
}

li a{
    color:#fff
}


footer li.listDesk {
    float: left;
    margin: 0 16px !important;
    width: 13%
}


footer .rodado {
    display: inline-block;
    transform: rotate(180deg);
    transition: all .3s ease-in-out
}

ol{
    padding-left: 0 !important;
}

li .listDesk .imoveis-a-venda {
    width: 16%;
}

/* terminando footer */